@import 'tailwindcss';

@utilities {
  .open-sans {
    font-family: var(--font-open-sans), sans-serif;
  }

  .montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }

  .noto-serif-display {
    font-family: var(--font-noto-serif-display), serif;
  }
}
