@import 'tailwindcss';

@utility open-sans {
  font-family: var(--font-open-sans), sans-serif;
}

@utility montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

@utility noto-serif-display {
  font-family: var(--font-noto-serif-display), serif;
}
